#banner{
    background-color: #606060;
    width: 600px;
    height: 300px;
    background-image: url(https://img.icons8.com/flat_round/2x/star.png), url(https://img.icons8.com/bubbles/2x/star.png);
    background-image: 100px, 100px;
    background-repeat: no-repeat, no-repeat;
    background-position: left, top left;
    background-size: 300px, 100%;
}




/*
https://img.icons8.com/flat_round/2x/star.png
https://img.icons8.com/bubbles/2x/star.png

*/